  * {
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg img {
  width:100%; 
  height: 100%; 
}

#homePage_scene,
#homePageCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 100px; */
}

#touchSurface_homePage {
  position: relative;
  width: 100%;
  height: 100%;
}

#touchSurface_homePage #touchSurface_homePage_inner{
  position: absolute;
  width: 100%;
  height: 100%;
}

.homePage__arrow {
  position: absolute;
  top: 93%;
  left: 49%;
}

.homePage__arrow-text h1{
  position: absolute;
  top: 85%;
  left: 560px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}

.homePage__arrow span{
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(225deg);
  animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform:rotate(225deg) translate(-20px,-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform:rotate(225deg) translate(20px,20px);
  }
}

/* Story Here & video */
.story_banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#story {
  display: none;
  height: 100%;
}

#whiteGold__video {
  display: none;
}

#whiteGold__video-close {
    color: white;
    font-size: 60px;
    text-shadow: 2px 3px 12px white;
    right: 60px;
    top: 20px;
    z-index: 2;
    display: none;
}

#whiteGold__gallery-close {
    color: white;
    font-size: 60px;
    text-shadow: 2px 3px 12px white;
    right: 60px;
    top: 20px;
    z-index: 2;
    display: none;
}
/* Main Page */

.float-left {
  float: left;
}

.float-right {
  float:right;
}

.mainPage-Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mainPage__box-Container,
.mainPage__box-Container-right {
  position: relative;
  width: 90%;
  padding-top: 25px;
}

.sideContent__box-left {
  height: 470px;
  background: #34343457;
  position: relative;
}

.sideContent__box-right {
  height: 470px;
  background: #34343457;
  position: relative;
  right: 0;
}


.mainPage__image-container {
  position: absolute;
}

.mainPage__image-container img {
  width: 280px;
  height: 500px;
    top: 0px;
    left: 60px;
    position: absolute;
  animation: float 4s ease-in-out infinite;
}

.mainPage__image-container-right img {
  width: 280px;
  height: 500px;
  top: 70px;
  left: 140px;
    position: absolute;
  animation: float 4s ease-in-out infinite;
  padding-right: 30px;
}

.mainPage__image-container-right {
  position: relative;
  top: -15%;
  width:  355px;
  padding-right: 120px;
  float: right;
}

.mainPage__header {
  position: relative;
  float: right;
  top: 25%;
  color: #ffffff;
}

.mainPage__header-right {
  position: absolute;
  /*left: 10%;*/
  top: 25%;
  color: #ffffff;
}

.mainPage__title-right{
  color: #fff;
  text-transform: uppercase;
  padding-left: 135px;
  text-align: right;
}

.mainPage__title {
  color: #fff;
  text-transform: uppercase;
  padding-right: 120px;
}

.mainPage__title h1,
.mainPage__title-right h1 {
  font-size: 38px;
  font-weight: 300;
}

.mainPage__title h2,
.mainPage__title-right h2 {
  font-size: 34px;
  font-weight: 100;
  margin-top: 3px;
  font-style: italic;
  font-family: math;
}

.mainPage__title p,
.mainPage__title-right p {
  font-size: 24px;
  color: #f7eeeed9;
  font-weight: 100;
  margin-top: 10px;
}

.mainPage__action-right,
.mainPage__action {
  font-size: 33px;
  color: #fff;
}

p.solidLine {
  border-style: solid;
  width: 83%;
    float: right;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

.solidLine-2 {
  border-style: solid;
  width: 60%;
    float: right;
    margin-top: 20px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

p.mainPage__action {
   width: fit-content;
    padding: 10px;
    font-size: 22px;
    margin-top: 20px;
    border: 2px solid white;
    text-transform: uppercase;
}

p.solidLine-right {
  border-style: solid;
  width: 83%;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

.solidLine-2-right {
  width: 30%;
    border-style: solid;
    position: absolute;
    margin-top: 20px;
    left: 0px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

p.mainPage__action-right {
    margin-top: 20px;
    float: right;
    width: fit-content;
    padding: 10px;
    font-size: 22px;
    margin-top: 20px;
    border: 2px solid white;
    text-transform: uppercase;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-13px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Watch Page White Gold */
.watchPage__whiteGold-Container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*top: 0%;*/
    /*display: table-column;*/
}

.watchPage__whiteGold-Header {
  position: relative;
  width: 100%;
  text-align: -webkit-center;
  z-index: 1;
}

.watchPage__whiteGold-Header-title {
    color: #ffffff;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    background: #34343457;
    width: 50%;
    margin-top: 5px;
}

.watchPage__whiteGold-Header-title h1 {
  font-size: 36px;
  font-weight: 300;
}

.watchPage__whiteGold-Header-title h2 {
  font-size: 34px;
  font-weight: 100;
  margin-top: 3px;
  font-style: italic;
  font-family: math;
}

.watchPage__whiteGold-Header-title p {
  font-size: 24px;
  color: #f7eeeed9;
  font-weight: 100;
  margin-top: 10px;
}


#watchPage__whiteGold-Scene
 {
    position: absolute;
    width: 700px;
    /* margin: 100px auto; */
    /* height: 850px; */
    left: 23%; /*L:10px top 6px w 1400*/
    top: 10%;
}
#watchPageCanvasWhiteGold
 {
    position: absolute;
    width: 850px;
    height: 950px;
    left: 6%;
    top: 6%;
}

#watchPage__whiteGold-Option {
  position: absolute;
  bottom: 0;
  margin: 0 25px 40px 0;
  padding-left: 25px;
  z-index: 10;
}

#watchPage__whiteGold-Option button {
      font-size: 18px;
    border: 2px solid white;
    text-decoration: none;
    background: none;
    outline: black solid 9px;
    padding: 14px 20px;
    box-shadow: 1px 1px 8px 13px #f6f6f6;
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    text-transform: uppercase;
}

#watchPage__whiteGold-Menu {
  position: absolute;
  bottom: 0;
  margin: 0 0px 40px 0;
  right: 25px;
  z-index: 10;
}

#watchPage__whiteGold-Menu button {
     font-size: 18px;
    border: 2px solid white;
    text-decoration: none;
    background: none;
    outline: black solid 9px;
    padding: 14px 20px;
    box-shadow: 1px 1px 8px 13px #f6f6f6;
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.selected {
    border: 2px solid #747474 !important;
    box-shadow: 1px 1px 8px 13px #747474 !important;
    color: #373737 !important;
}

/* Smoke text effect */

.smoke__text {
  /*background: black;*/
  overflow: hidden;
  font: 3vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
  position: relative;
  top: -250px;
} 

.smoke__text span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  /*animation: smoky 4s 15s both;*/
}

.smoke__text span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

.smoke__text span:nth-child(1n+1) {
  animation-delay: 6 + n/10s; 
}


/* White Gold Spec */
#watchPage__whiteGold-spec {
  position: absolute;
  left: 33%;
  top: 0;
  display: none;
}

.watchPage__image-container {
  position: absolute;
  top: 250px;
}

.watchPage__image-container img {
  width: 480px;
    top: -5px;
    left: -30px;
    position: absolute;
}


.watchPage__image-container button {
  transition: all .2s ease-in-out;
      -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    position: relative;
    padding: 20px 20px;
    background: #fff;
    appearance: none;
    outline: none;
    opacity: 0;
}

.watchPage__image-container button:before {
  animation: pulse 2s ease infinite;
  border-radius: 100px;
  position: absolute;
  background: #fff;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#watchPage__whiteGold-specBtn1 {
  top: 20px;
    left: 125px;
}

#watchPage__whiteGold-specBtn2 {
  top: 130px;
    left: 200px;
}

#watchPage__whiteGold-specBtn3 {
  top: 155px;
    left: 100px;
}

#watchPage__whiteGold-specBtn4 {
  top: 210px;
    left: 120px;
}

#watchPage__whiteGold-specBtn5 {
  top: 150px;
    left: 330px;
}

.watchPage__whiteGold-details {
    position: absolute;
    width: 100%;
}

.watchPage__whiteGold-details h1{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 100;
}

.watchPage__whiteGold-details p{
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding-top: 5px 0 5px 0;
    line-height: 1.3rem;
}

#whiteGold__spec-1 {
  position: absolute;
    width: 300px;
    text-align: right;
    color: white;
    top: 285px;
    left: -350px;
    opacity: 0;
}

#whiteGold__spec-1 .solidLine {
    position: absolute;
    left: 112%;
    top: -30px;
    float: right;
    border-style: solid;
    width: 50%;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

#whiteGold__spec-2 {
  position: absolute;
    width: 400px;
    color: white;
    top: 350px;
    left: 440px;
    opacity: 0;
}

#whiteGold__spec-2 h1{
  font-size: 26px;
}

#whiteGold__spec-2 p{
  font-size: 18px;
  padding: 4px 0 4px 0;
}

#whiteGold__spec-2 .row {
  display: flex;
  flex-direction: row;
}

.specImg {
  position: relative;
  left: -60px;
}

#whiteGold__spec-2 .row img{
  width: 55%;
}

#whiteGold__spec-2 .col {
      width: 50%;
    padding: 6px 10px 0 0;
    font-size: 14px;
}

#whiteGold__spec-3 {
  position: absolute;
    width: 300px;
    text-align: right;
    color: white;
    top: 500px;
    left: -375px;
    opacity: 0;
}

#whiteGold__spec-3 .solidLine {
    position: absolute;
    left: 112%;
    top: -30px;
    border-style: solid;
    width: 50%;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

#whiteGold__spec-4 {
  position: absolute;
    width: 300px;
    text-align: right;
    color: white;
    top: 610px;
    left: -365px;
    opacity: 0;
}

#whiteGold__spec-4 .solidLine {
    position: absolute;
    left: 112%;
    top: -30px;
    border-style: solid;
    width: 50%;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

#whiteGold__spec-5 {
  position: absolute;
    width: 300px;
    text-align: left;
    color: white;
    top: 583px;
    left: 500px;
    opacity: 0;
}

#whiteGold__spec-5 .solidLine {
    position: relative;
    float: right;
    left: -108%;
    top: -30px;
    border-style: solid;
    width: 40%;
    margin-top: 40px;
    box-shadow: 2px 0px 10px 5px whitesmoke;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { opacity: 0.5; }
  100% { transform: scale(1.6, 1.8); opacity: 0; }
}

/* White Gold - gallery */
#watchPage__whiteGold-gallery {
  background-image: url("../assets/bg.jpg") ;
  display: none;
}
.watchPage__whiteGold-gallery-mySlides img {
  /*vertical-align: middle;*/
  width: 90%;
  height: 680px;
}

/* Position the image container (needed to position the left and right arrows) */
.watchPage__whiteGold-gallery-container {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Hide the images by default */
.watchPage__whiteGold-gallery-mySlides {
  padding-top: 145px;
}

.splide__pagination {
  top: 111% !important;
}

.splide__pagination__page.is-active {
     transform: scale(1) !important; 
    background: #fff;
}

.splide__pagination__page {
    width: 100px !important;
    height: 10px !important;
     border-radius: 0% !important; 
     margin: 0 !important; 
    padding: 0;
    transition: transform .5s linear;
     opacity: 1 !important; 
}

/* GAllery button */
#watchPage__whiteGold-galleryOption1 {
  position: absolute;
  top: 130px;
  margin: 50px;
  padding-left: 35px;
  z-index: 10;
}

#watchPage__whiteGold-galleryOption2 {
  position: absolute;
  top: 10px;
  margin: 50px;
  padding-left: 35px;
  z-index: 10;
}

#watchPage__whiteGold-galleryOption1 button{
      font-size: 28px;
    border: 2px solid white;
    text-decoration: none;
    background: none;
    outline: black solid 9px;
    padding: 14px 20px;
    box-shadow: 1px 1px 8px 13px #f6f6f6;
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    text-transform: uppercase;
}
#watchPage__whiteGold-galleryOption2 button {
      font-size: 28px;
    border: 2px solid white;
    text-decoration: none;
    background: none;
    outline: black solid 9px;
    padding: 14px 30px;
    box-shadow: 1px 1px 8px 13px #f6f6f6;
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    text-transform: uppercase;
}

#whiteGoldImageSmall7,
#whiteGoldImageSmall8 {
display: none;
}